<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@@keywords">
    <meta name="description" content="@@description">
    <!-- Включить если нужна поддержка ie11 -->
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7289e9da-b810-4e99-973b-adc7197fefe4&lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="css/main.min.css">
    <title>@@title</title>
</head>