.service-page {
    // .service-page__header
    &__header {
        margin: 0px 0px 95px 0px;
        @media (max-width: $maxwidth3) {
            margin: 0px 0px 40px 0px;
        }
    }
    // .service-page__body
    &__body {
        & > p {
            margin: 0px 0px 45px 0px;
            @media (max-width: $maxwidth3) {
                margin: 0px 0px 25px 0px;
            }
        }
    }
    // .service-page__footer
    &__footer {
        .template-table {
            margin: 0px 0px 42px 0px;
        }
    }
    // .service-page__link
    &__link {
        font-weight: bold;
        @include responsiveFont(28, 18, 1);
        line-height: 120%;
        letter-spacing: 0.03em;
        text-decoration-line: underline;
        color: #efaf22;
        &:after {
            content: "";
            margin: 0px 0px 0px 15px;
            width: 15px;
            height: 15px;
            display: inline-block;
            background: url("../img/svg/sprite.svg#arrow-double");
        }
    }
}
